{% extends "base_main.html" %}
{% block content %}
<div class="container my-4 text-center detail-title">
    <h3>Tasks List</h3>
</div>
{% if task_list %}
{% for task in task_list %}
<a href="{% url 'todo:task_update' task.id %}">
<div class="container mt-3">
    <div class="card mb-3 my-card-2">
        <div class="card-body py-3">
            <b>{{ task.name }}</b> ({{ task.thing }})
            
            <a href="{% url 'todo:task_delete' task.id %}">Delete</a>
            <br/>
            Details: {{ task.description }}
            <p>
            </p>
        </div>
    </div>
</div>
</a>
{% endfor %}
{% else %}
<p>There are no tasks in the library.</p>
{% endif %}
<p><a href="{% url 'todo:task_create' %}">Add a task</a></p>
<p>
    <a href="{% url 'todo:all' %}">Back to Things</a>
</p>
{% endblock %}