
{% extends "base_main.html" %}
{% block content %}

<div class="container ml-5 pt-4">
    <input type="submit" class="btn-info" onclick="window.location='{% url 'todo:all' %}'; return false;" value="Home">
</div>

<div class="container my-4 text-center detail-title">
    <h3>Delete Thing</h3>
</div>
<p class="container text-center">Are you sure you want to delete <b>{{ thing }}</b> ?
</p>

<form action="" method="POST">
    {% csrf_token %}
    <div class="container text-center">
      <input type="submit" class="btn-default" onclick="window.location='{% url 'todo:all' %}'; return false;" value="Cancel" >
        <input type="submit" value="Yes, delete." class="btn-danger">
        
    </div>
</form>
{% endblock %}